{{from __future__ import division}}
{{extend 'layout.html'}}

<script>
$(document).ready(function() {
    $.tablesorter.addParser({
        id: "Comma_number",
        is: function(s) {
            return false;
        },
        format: function(s) {
            return s.replace(/,/g,'');
        },
        type: 'numeric'
    });

    $("#totalsTable").tablesorter();

    $("#mainTable").tablesorter({
        headers: {
            1: {sorter: 'Comma_number'},
            3: {sorter: 'Comma_number'},
            4: {sorter: 'Comma_number'},
            5: {sorter: 'Comma_number'}
        }
    });

    $("#foundItemsTable").tablesorter({
        headers: {
            1: {sorter: 'Comma_number'}
        }
    });

    $("#obtainedTable").tablesorter({
		headers: {
			1: {sorter: 'Comma_number'}
		}
	});

    $("#restoredTable").tablesorter({
		headers: {
			1: {sorter: 'Comma_number'}
		}
	});

    $("#affectedTable").tablesorter({
		headers: {
			1: {sorter: 'Comma_number'}
		}
	});

    $("#createdTable").tablesorter({
		headers: {
			1: {sorter: 'Comma_number'}
		}
	});
    }
);
</script>

<script>
$(function() {
    $( "#tabs" ).tabs({collapsible: true});
	
});
</script>

{{dotd_wiki = 'http://dotd.wikia.com/wiki/Special:Search?search='}}


{{if not len(experience['user']):}}

<div id="dataError" align="left">
    <p>Apologies. The parser did not return any valid data. Please try copying and pasting your raid again.</p>
</div>

{{else:}}

{{reg_hits = experience['regular_hits']}}
{{crit_hits = experience['critical_hits']}}

{{total_hits = reg_hits + crit_hits}}

{{tot_proc_count = experience['total_procs']}}

{{tot_reg_dmg = experience['total_reg_dmg']}}
{{tot_crit_dmg = experience['total_crit_dmg']}}
{{tot_proc_dmg = experience['total_proc_dmg']}}

{{total_damage = tot_reg_dmg + tot_crit_dmg}}
{{base_damage = total_damage - tot_proc_dmg}}

<div id="chart"></div>
<script>
var chart = c3.generate({
    bindto: '#chart',
        data: {
            columns: [
                ['Base Damage', {{=base_damage}} ],
                ['Proc Damage', {{=tot_proc_dmg}} ],
                ['Regular Damage', {{=tot_reg_dmg}} ],
                ['Critical Damage', {{=tot_crit_dmg}} ]
            ],
            type : 'bar',
            groups: [
                ['Base Damage', 'Proc Damage'],
                ['Regular Damage','Critical Damage']
            ],
            order: null
        },
        axis : {
            y : {
                tick : {
                    format: d3.format(',')
                }
            }
        }
});
</script>


<center>
<table id="totalsTable" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
    <thead>
        <tr>
            <th>Total Hits</th>
            <th>Total DMG</th>
            <th>Regular DMG</th>
            <th>Crit DMG</th>
            <th>Proc DMG</th>
            <th>Base DMG</th>
            <th>Reg Hits</th>
            <th>Crit Hits</th>
            <th>Crit Rate</th>
            <th>Procs</th>
            <th>Procs/Hit</th>
            <th>Total XP</th>
            <th>Gold Gained</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{=commify(total_hits)}}</td>
            <td>{{=commify(total_damage)}}</td>
            <td>{{=commify(tot_reg_dmg)}}</td>
            <td>{{=commify(tot_crit_dmg)}}</td>
            <td>{{=commify(tot_proc_dmg)}}</td>
            <td>{{=commify(base_damage)}}</td>
            <td>{{=commify(reg_hits)}}</td>
            <td>{{=commify(crit_hits)}}</td>
            <td>{{=commify(percentage(crit_hits, total_hits))}} %</td>
            <td>{{=commify(tot_proc_count)}}</td>
            <td>{{=commify((tot_proc_count / total_hits))}}</td>
            <td>{{=commify(experience['exp'])}}</td>
            <td>{{=commify(experience['gold'])}}</td>
        </tr>
    </tbody>
</table>

<div id="tabs">
    <ul>
        <li><a href="#mainTab">Procs</a></li>
        <li><a href="#bestHitTab">Best Hit</a></li>
        <li><a href="#foundItemsTab">Found</a></li>
        <li><a href="#obtainedItemsTab">Obtained</a></li>
        <li><a href="#restoredItemsTab">Restored</a></li>
        <li><a href="#affectedItemsTab">Affected</a></li>
        <li><a href="#createdItemsTab">Created</a></li>
        <li><a href="#rawLogTab">Raw</a></li>
        <li><a href="#bbcodeTab">BBcode</a></li>
    </ul>

    <div id="mainTab">
        <div class="table"><table id="mainTable" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Proc Count</th>
                    <th>Proc/Hit Rate</th>
                    <th>Avg. DMG/Proc Rate</th>
                    <th>Avg. DMG/Hit Rate</th>
                    <th>Total DMG</th>
                    <th>Proc DMG/Total DMG Rate</th>
                   </tr>
            </thead>
            <tbody>
                {{for item,value in proc_items.iteritems():}}
                <tr>
                    <td>{{=item}}</a></td>
                    <td>{{=commify(proc_items[item]['count'])}}</td>
                    <td>{{=commify(percentage(proc_items[item]['count'], total_hits))}}%</td>
                    <td>{{=commify((proc_items[item]['damage'] / proc_items[item]['count']))}}</td>
                    <td>{{=commify((proc_items[item]['damage'] / total_hits))}}</td>
                    <td>{{=commify(proc_items[item]['damage'])}}</td>
                    <td>{{=commify(percentage(proc_items[item]['damage'], total_damage))}}%</td>
                </tr>
                {{pass}}
            </tbody>
        </table>
        </div>
    </div>

    <div id="bestHitTab" align=left>
        {{for item in max_hit:}}
        {{=item}}<br>
        {{pass}}
    </div>

    <div id="foundItemsTab" align="left">
        <div class="table"><table id="foundItemsTable" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
            <thead>
                <tr>
                    <th>Found Item Name</th>
                    <th>Count</th>
                    <th>Found/Hit Rate</th>
                </tr>
            </thead>
            <tbody>
                {{for key,value in found_items.iteritems():}}
                <tr>
                    <td>{{=key}}</td>
                    <td>{{=commify(value)}}</td>
                    <td>{{=commify(percentage(value, total_hits))}} %</td>
                </tr>
                {{pass}}
            </tbody>
        </table>
        </div>
    </div>


    <div id="obtainedItemsTab" align="left">
        <div class="table"><table id="obtainedTable" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
            <thead>
                <tr>
                    <th>Obtained Item Name</th>
                    <th>Count</th>
                    <th>Obtained/Hit Rate</th>
                </tr>
            </thead>
            <tbody>
                {{for key,value in obtained_items.iteritems():}}
                <tr>
                    <td>{{=key}}</td>
                    <td>{{=commify(value)}}</td>
                    <td>{{=commify(percentage(value, total_hits))}} %</td>
                </tr>
                {{pass}}
            </tbody>
        </table>
        </div>
    </div>

    <div id="restoredItemsTab" align="left">
        <div class="table"><table id="restoredTable" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
            <thead>
                <tr>
                    <th>Restored Item Name</th>
                    <th>Count</th>
                    <th>Restored/Hit Rate</th>
                </tr>
            </thead>
            <tbody>
                {{for key,value in restored_items.iteritems():}}
                <tr>
                    <td>{{=key}}</td>
                    <td>{{=commify(value)}}</td>
                    <td>{{=commify(percentage(value, total_hits))}} %</td>
                </tr>
                {{pass}}
            </tbody>
        </table>
        </div>
    </div>

    <div id="affectedItemsTab" align="left">
        <div class="table"><table id="affectedTable" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
            <thead>
                <tr>
                    <th>Affected Item Name</th>
                    <th>Count</th>
                    <th>Affected/Hit Rate</th>
                </tr>
            </thead>
            <tbody>
                {{for key,value in affected_items.iteritems():}}
                <tr>
                    <td>{{=key}}</td>
                    <td>{{=commify(value)}}</td>
                    <td>{{=commify(percentage(value, total_hits))}} %</td>
                </tr>
                {{pass}}
            </tbody>
        </table>
        </div>
    </div>

    <div id="createdItemsTab" align="left">
        <div class="table"><table id="createdTable" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
            <thead>
                <tr>
                    <th>Created Item Name</th>
                    <th>Count</th>
                    <th>Created/Hit Rate</th>
                </tr>
            </thead>
            <tbody>
                {{for key,value in created_items.iteritems():}}
                <tr>
                    <td>{{=key}}</td>
                    <td>{{=commify(value)}}</td>
                    <td>{{=commify(percentage(value, total_hits))}} %</td>
                </tr>
                {{pass}}
            </tbody>
        </table>
        </div>
    </div>

    <div id="rawLogTab" align="left">
        {{for log in log_file:}}
        {{=log}}<br>
        {{pass}}
    </div>

    <div id="bbcodeTab" align=left>
        <pre>
            [TABLE="class: grid, width: 800"]
                [tr]
                    [td]Total Hits[/td]
                    [td]Total Reg Hits[/td]
                    [td]Total Critical Hits[/td]
                    [td]Total Procs[/td]
                [/tr]
                [tr]
                    [td]{{=commify(total_hits)}}[/td]
                    [td]{{=commify(reg_hits)}}[/td]
                    [td]{{=commify(crit_hits)}}[/td]
                    [td]{{=commify(tot_proc_count)}}[/td]
                [/tr]
            [/table]
            [TABLE="class: grid, width: 800"]
                [tr]
                    [td]Item[/td]
                    [td]Proc Count[/td]
                    [td]Proc Damage[/td]
                    [td]Proc/Hit Rate[/td]
                [/tr]

                {{for item,value in proc_items.iteritems():}}
                [tr]
                    [td]{{=item}}[/td]
                    [td]{{=commify(proc_items[item]['count'])}}[/td]
                    [td]{{=commify(proc_items[item]['damage'])}}[/td]
                    [td]{{=commify(percentage(proc_items[item]['count'], total_hits))}}%[/td]
                [/tr]
                {{pass}}
            [/table]
        </pre>
    </div>

</div>


</center>
{{pass}}
