{{extend 'layout.html'}}

<script>
$(document).ready(function() {
    $("#procsTable").dataTable( {
        "paging": false,
        "info":   false,
        "order":  [[5, "desc" ]],
        dom:      'T<"clear">lfrtip'
    } );
    $("#foundTable").dataTable( {
        "paging": false,
        "info":   false,
        "order":  [[0, "asc" ]],
    } );
    $("#obtainedTable").dataTable( {
        "paging": false,
        "info":   false,
        "order":  [[0, "asc" ]],
    } );
    $("#restoredTable").dataTable( {
        "paging": false,
        "info":   false,
        "order":  [[0, "asc" ]],
    } );
    $("#affectedTable").dataTable( {
        "paging": false,
        "info":   false,
        "order":  [[0, "asc" ]],
    } );
    $("#createdTable").dataTable( {
        "paging": false,
        "info":   false,
        "order":  [[0, "asc" ]],
    } );
    $("#rantsTable").dataTable( {
        "paging": false,
        "info":   false,
        "order":  [[0, "asc" ]],
    } );
    $("#magicsTable").dataTable( {
        "paging": false,
        "info":   false,
        "order":  [[0, "asc" ]],
    } );
    $("#triggeredTable").dataTable( {
        "paging": false,
        "info":   false,
        "order":  [[0, "asc" ]],
    } );
} );
</script>

<script>
$(function() {
    $("#tabs").tabs();
});
</script>

{{if not len(experience['user']):}}

<div id="dataError" align="left">
    <p>Apologies. The parser did not return any valid data. Please try copying and pasting your raid again.</p>

{{if len(log_file):}}
    <p>Here is what you have entered:</p>
    <p>&nbsp;</p>
    {{for log in log_file:}}
    {{=log}}<br>
    {{pass}}
{{pass}}
</div>

{{else:}}

{{reg_hits = experience['regular_hits']}}
{{crit_hits = experience['critical_hits']}}

{{total_hits = reg_hits + crit_hits}}

{{tot_proc_count = experience['total_procs']}}

{{tot_reg_dmg = experience['total_reg_dmg']}}
{{tot_crit_dmg = experience['total_crit_dmg']}}
{{tot_proc_dmg = experience['total_proc_dmg']}}

{{total_damage = tot_reg_dmg + tot_crit_dmg}}
{{base_damage = total_damage - tot_proc_dmg}}

<div id="chart" style="height: 200px; width:640px;" align="center"></div>
<script>
var chart = c3.generate({
    bindto: '#chart',
        data: {
            columns: [
                ['Base Damage', {{=base_damage}} ],
                ['Proc Damage', {{=tot_proc_dmg}} ],
                ['Regular Damage', {{=tot_reg_dmg}} ],
                ['Critical Damage', {{=tot_crit_dmg}} ]
            ],
            type: 'bar',
            groups: [
                ['Base Damage', 'Proc Damage'],
                ['Regular Damage','Critical Damage']
            ],
            order: null,
        },
        axis: {
            y: {
                tick: {
                    format: d3.format(',')
                }
            }
        },
});
</script>


<center>
<table id="totalsTable" class="display" border="1" cellpadding="0" cellspacing="1">
    <thead>
    <tr>
        <th>Entry</th>
        <th>Hits</th>
        <th>Rate</th>
        <th>Damage</th>
        <th>Average</th>
        <th>% Total</th>
        <th>% Base</th>
        <th>% Reg AVG</th>
        <th>Procs</th>
        <th>Procs/Hit</th>
        <th>Total XP</th>
        <th>Gold Gained</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Total</th>
        <td>{{=commify(total_hits)}}</td>
        <td>{{=percentage(total_hits, total_hits)}} %</td>
        <td>{{=commify(total_damage)}}</td>
        <td>{{=safe_divide(total_damage, total_hits, 0)}}</td>
        <td>{{=percentage(total_damage, total_damage)}} %</td>
        <td>{{=percentage(total_damage, base_damage)}} %</td>
        <td>{{=percentage(total_damage, tot_reg_dmg)}} %</td>
        <td>{{=commify(tot_proc_count)}}</td>
        <td>{{=safe_divide(tot_proc_count, total_hits)}}</td>
        <td>{{=commify(experience['exp'])}}</td>
        <td>{{=commify(experience['gold'])}}</td>
    </tr>
    <tr>
        <th>Base</th>
        <td>{{=commify(total_hits)}}</td>
        <td>&nbsp;</td>
        <td>{{=commify(base_damage)}}</td>
        <td>{{=safe_divide(base_damage, total_hits, 0)}}</td>
        <td>{{=percentage(base_damage, total_damage)}} %</td>
        <td>{{=percentage(base_damage, base_damage)}} %</td>
    </tr>
    <tr>
        <th>Proc</th>
        <td>{{=commify(total_hits)}}</td>
        <td>&nbsp;</td>
        <td>{{=commify(tot_proc_dmg)}}</td>
        <td>{{=safe_divide(tot_proc_dmg, total_hits, 0)}}</td>
        <td>{{=percentage(tot_proc_dmg, total_damage)}} %</td>
        <td>{{=percentage(tot_proc_dmg, base_damage)}} %</td>
    </tr>
    <tr>
        <th>Regular</th>
        <td>{{=commify(reg_hits)}}</td>
        <td>{{=percentage(reg_hits, total_hits)}} %</td>
        <td>{{=commify(tot_reg_dmg)}}</td>
        <td>{{=safe_divide(tot_reg_dmg, reg_hits, 0)}}</td>
        <td>{{=percentage(tot_reg_dmg, total_damage)}} %</td>
        <td>&nbsp;</td>
        <td>{{=percentage(tot_reg_dmg, tot_reg_dmg)}} %</td>
    </tr>
    <tr>
        <th>Crit</th>
        <td>{{=commify(crit_hits)}}</td>
        <td>{{=percentage(crit_hits, total_hits)}} %</td>
        <td>{{=commify(tot_crit_dmg)}}</td>
        <td>{{=safe_divide(tot_crit_dmg, crit_hits, 0)}}</td>
        <td>{{=percentage(tot_crit_dmg, total_damage)}} %</td>
        <td>&nbsp;</td>
        <td>{{=percentage(tot_crit_dmg, tot_reg_dmg)}} %</td>
    </tr>
    </tbody>
</table>

<div id="tabs">
    <ul>
        <li><a href="#procsTab">Procs</a></li>
        <li><a href="#bestHitTab">Best Hit</a></li>
        <li><a href="#foundItemsTab">Found</a></li>
        <li><a href="#obtainedItemsTab">Obtained</a></li>
        <li><a href="#restoredItemsTab">Restored</a></li>
        <li><a href="#affectedItemsTab">Affected</a></li>
        <li><a href="#createdItemsTab">Created</a></li>
        <li><a href="#rantsTab">Rants</a></li>
        <li><a href="#magicsTab">Magics</a></li>
        <li><a href="#triggeredTab">Triggered</a></li>
        <li><a href="#hitListTab">Hit List</a></li>
        <li><a href="#logTab">Raw</a></li>
        <li><a href="#bbcodeTab">BBcode</a></li>
    </ul>

    <div id="procsTab">
{{if len(proc_items):}}
        <div class="table"><table id="procsTable" class="display" border="0" cellpadding="0" cellspacing="1">
            <thead>
                <tr>
                    <th>Proc&#39;er: Proc Name</th>
                    <th>Proc Count</th>
                    <th>Proc/Hit Rate</th>
                    <th>Avg. DMG/Proc</th>
                    <th>Avg. DMG/Hit</th>
                    <th>Total DMG</th>
                    <th>% Total</th>
                    <th>% Base</th>
                   </tr>
            </thead>
            <tbody>
                {{for item,value in proc_items.iteritems():}}
                <tr>
                    <td><a href="{{=gen_wiki_url(item, log_suns_mode)}}" target="_blank">{{=item}}</a></td>
                    <td>{{=commify(proc_items[item]['count'])}}</td>
                    <td>{{=percentage(proc_items[item]['count'], total_hits)}} %</td>
                    <td>{{=safe_divide(proc_items[item]['damage'], proc_items[item]['count'], 0)}}</td>
                    <td>{{=safe_divide(proc_items[item]['damage'], total_hits, 0)}}</td>
                    <td>{{=commify(proc_items[item]['damage'])}}</td>
                    <td>{{=percentage(proc_items[item]['damage'], total_damage)}} %</td>
                    <td>{{=percentage(proc_items[item]['damage'], base_damage)}} %</td>
                </tr>
                {{pass}}
            </tbody>
        </table>
        </div>
{{else:}}
        <p>Nothing proc'ed during this run.</p>
{{pass}}
    </div>

    <div id="bestHitTab" align=left>
    {{if len(max_hit):}}
        {{for item in max_hit:}}
        {{=item}}<br>
        {{pass}}
    {{else:}}
        <p>Unable to parse biggest hit from logs.</p>
    {{pass}}
    </div>

    <div id="foundItemsTab" align="left">
{{if len(found_items):}}
        <div class="table"><table id="foundTable" class="display" border="0" cellpadding="0" cellspacing="1">
            <thead>
                <tr>
                    <th>Found Item</th>
                    <th>Count</th>
                    <th>Found/Hit Rate</th>
                </tr>
            </thead>
            <tbody>
                {{for key,value in found_items.iteritems():}}
                <tr>
                    <td><a href="{{=gen_wiki_url(key, log_suns_mode)}}" target="_blank">{{=key}}</a></td>
                    <td>{{=commify(value)}}</td>
                    <td>{{=percentage(value, total_hits)}} %</td>
                </tr>
                {{pass}}
            </tbody>
        </table>
        </div>
{{else:}}
        <p>Nothing was found during this run.</p>
{{pass}}
    </div>

    <div id="obtainedItemsTab" align="left">
{{if len(obtained_items):}}
        <div class="table"><table id="obtainedTable" class="display" border="0" cellpadding="0" cellspacing="1">
            <thead>
                <tr>
                    <th>Obtained Item</th>
                    <th>Count</th>
                    <th>Obtained/Hit Rate</th>
                </tr>
            </thead>
            <tbody>
                {{for key,value in obtained_items.iteritems():}}
                <tr>
                    <td><a href="{{=gen_wiki_url(key, log_suns_mode)}}" target="_blank">{{=key}}</a></td>
                    <td>{{=commify(value)}}</td>
                    <td>{{=percentage(value, total_hits)}} %</td>
                </tr>
                {{pass}}
            </tbody>
        </table>
        </div>
{{else:}}
        <p>Nothing was obtained during this run.</p>
{{pass}}
    </div>

    <div id="restoredItemsTab" align="left">
{{if len(restored_items):}}
        <div class="table"><table id="restoredTable" class="display" border="0" cellpadding="0" cellspacing="1">
            <thead>
                <tr>
                    <th>Restored/Granted Event</th>
                    <th>Count</th>
                    <th>Restored/Hit Rate</th>
                </tr>
            </thead>
            <tbody>
                {{for key,value in restored_items.iteritems():}}
                <tr>
                    <td><a href="{{=gen_wiki_url(key, log_suns_mode)}}" target="_blank">{{=key}}</a></td>
                    <td>{{=commify(value)}}</td>
                    <td>{{=percentage(value, total_hits)}} %</td>
                </tr>
                {{pass}}
            </tbody>
        </table>
        </div>
{{else:}}
        <p>Nothing was restored or granted during this run.</p>
{{pass}}
    </div>

    <div id="affectedItemsTab" align="left">
{{if len(affected_items):}}
        <div class="table"><table id="affectedTable" class="display" border="0" cellpadding="0" cellspacing="1">
            <thead>
                <tr>
                    <th>Affected Event</th>
                    <th>Count</th>
                    <th>Affected/Hit Rate</th>
                </tr>
            </thead>
            <tbody>
                {{for key,value in affected_items.iteritems():}}
                <tr>
                    <td><a href="{{=gen_wiki_url(key, log_suns_mode)}}" target="_blank">{{=key}}</a></td>
                    <td>{{=commify(value)}}</td>
                    <td>{{=percentage(value, total_hits)}} %</td>
                </tr>
                {{pass}}
            </tbody>
        </table>
        </div>
{{else:}}
        <p>Nothing was affected during this run.</p>
{{pass}}
    </div>

    <div id="createdItemsTab" align="left">
{{if len(created_items):}}
        <div class="table"><table id="createdTable" class="display" border="0" cellpadding="0" cellspacing="1">
            <thead>
                <tr>
                    <th>Created Event</th>
                    <th>Count</th>
                    <th>Created/Hit Rate</th>
                </tr>
            </thead>
            <tbody>
                {{for key,value in created_items.iteritems():}}
                <tr>
                    <td><a href="{{=gen_wiki_url(key, log_suns_mode)}}" target="_blank">{{=key}}</a></td>
                    <td>{{=commify(value)}}</td>
                    <td>{{=percentage(value, total_hits)}} %</td>
                </tr>
                {{pass}}
            </tbody>
        </table>
        </div>
{{else:}}
        <p>Nothing was created during this run.</p>
{{pass}}
    </div>

    <div id="rantsTab" align="left">
{{if len(rant_items):}}
        <div class="table"><table id="rantsTable" class="display" border="0" cellpadding="0" cellspacing="1">
            <thead>
                <tr>
                    <th>Rants Overheard</th>
                    <th>Count</th>
                    <th>Rant Rate</th>
                </tr>
            </thead>
            <tbody>
                {{for key,value in rant_items.iteritems():}}
                <tr>
                    <td><a href="{{=gen_wiki_url(key, log_suns_mode)}}" target="_blank">{{=key}}</a></td>
                    <td>{{=commify(value)}}</td>
                    <td>{{=percentage(value, total_hits)}} %</td>
                </tr>
                {{pass}}
            </tbody>
        </table>
        </div>
{{else:}}
        <p>No rants were heard on this run.</p>
{{pass}}
    </div>

    <div id="magicsTab" align="left">
{{if len(magic_items):}}
        <div class="table"><table id="magicsTable" class="display" border="0" cellpadding="0" cellspacing="1">
            <thead>
                <tr>
                    <th>Magic/Tactic Event</th>
                    <th>Count</th>
                    <th>Magic/Hit Rate</th>
                </tr>
            </thead>
            <tbody>
                {{for key,value in magic_items.iteritems():}}
                <tr>
                    <td>{{=key}}</td>
                    <td>{{=commify(value)}}</td>
                    <td>{{=percentage(value, total_hits)}} %</td>
                </tr>
                {{pass}}
            </tbody>
        </table>
        </div>
{{else:}}
        <p>No magics or tactics cast/dispelled during this run.</p>
{{pass}}
    </div>

    <div id="triggeredTab" align="left">
{{if len(triggered_items):}}
        <div class="table"><table id="triggeredTable" class="display" border="0" cellpadding="0" cellspacing="1">
            <thead>
                <tr>
                    <th>Triggered Event</th>
                    <th>Count</th>
                    <th>Triggered/Hit Rate</th>
                </tr>
            </thead>
            <tbody>
                {{for key,value in triggered_items.iteritems():}}
                <tr>
                    <td><a href="{{=gen_wiki_url(key, log_suns_mode)}}" target="_blank">{{=key}}</a></td>
                    <td>{{=commify(value)}}</td>
                    <td>{{=percentage(value, total_hits)}} %</td>
                </tr>
                {{pass}}
            </tbody>
        </table>
        </div>
{{else:}}
        <p>Nothing triggered during this run.</p>
{{pass}}
    </div>

    <div id="hitListTab" align="left">
{{if len(hit_list):}}
        {{for hit in sorted(hit_list.keys()):}}
        Log Line [{{=hit+1}}]: {{=log_file[hit]}}<br>
        {{pass}}
{{else:}}
        <p>Error: Expected a list of hits...</p>
{{pass}}
    </div>

    <div id="logTab" align="left">
{{if len(log_file):}}
        {{for log in log_file:}}
        {{=log}}<br>
        {{pass}}
{{else:}}
        <p>Error: Expected log_file array...</p>
{{pass}}
    </div>

    <div id="bbcodeTab" align=left>
        <p>Contains BBCode for Overall Stats, Proc Stats ( two tables )</p>
        <pre>

[TABLE="class: grid, width: 800"]
    [TR]
        [TD]Entry[/TD]
        [TD]Hits[/TD]
        [TD]Rate[/TD]
        [TD]Damage[/TD]
        [TD]Average[/TD]
        [TD]% Total[/TD]
        [TD]% Base[/TD]
        [TD]% Reg AVG[/TD]
        [TD]Procs[/TD]
        [TD]Procs/Hit[/TD]
        [TD]Total XP[/TD]
        [TD]Gold Gained[/TD]
    [/TR]
    [TR]
        [TD]Total[/TD]
        [TD]{{=commify(total_hits)}}[/TD]
        [TD]{{=percentage(total_hits, total_hits)}}[/TD]
        [TD]{{=commify(total_damage)}}[/TD]
        [TD]{{=safe_divide(total_damage, total_hits, 0)}}[/TD]
        [TD]{{=percentage(total_damage, total_damage)}} %[/TD]
        [TD]{{=percentage(total_damage, base_damage)}} %[/TD]
        [TD]{{=percentage(total_damage, tot_reg_dmg)}} %[/TD]
        [TD]{{=commify(tot_proc_count)}}[/TD]
        [TD]{{=safe_divide(tot_proc_count, total_hits)}}[/TD]
        [TD]{{=commify(experience['exp'])}}[/TD]
        [TD]{{=commify(experience['gold'])}}[/TD]
    [/TR]
    [TR]
        [TD]Base[/TD]
        [TD]{{=commify(total_hits)}}[/TD]
        [TD][/TD]
        [TD]{{=commify(base_damage)}}[/TD]
        [TD]{{=safe_divide(base_damage, total_hits, 0)}}[/TD]
        [TD]{{=percentage(base_damage, total_damage)}} %[/TD]
        [TD]{{=percentage(base_damage, base_damage)}} %[/TD]
    [/TR]
    [TR]
        [TD]Proc[/TD]
        [TD]{{=commify(total_hits)}}[/TD]
        [TD][/TD]
        [TD]{{=commify(tot_proc_dmg)}}[/TD]
        [TD]{{=safe_divide(tot_proc_dmg, total_hits, 0)}}[/TD]
        [TD]{{=percentage(tot_proc_dmg, total_damage)}} %[/TD]
        [TD]{{=percentage(tot_proc_dmg, base_damage)}} %[/TD]
    [/TR]
    [TR]
        [TD]Regular[/TD]
        [TD]{{=commify(reg_hits)}}[/TD]
        [TD]{{=percentage(reg_hits, total_hits)}} %[/TD]
        [TD]{{=commify(tot_reg_dmg)}}[/TD]
        [TD]{{=safe_divide(tot_reg_dmg, reg_hits, 0)}}[/TD]
        [TD]{{=percentage(tot_reg_dmg, total_damage)}} %[/TD]
        [TD][/TD]
        [TD]{{=percentage(tot_reg_dmg, tot_reg_dmg)}} %[/TD]
    [/TR]
    [TR]
        [TD]Crit[/TD]
        [TD]{{=commify(crit_hits)}}[/TD]
        [TD]{{=percentage(crit_hits, total_hits)}} %[/TD]
        [TD]{{=commify(tot_crit_dmg)}}[/TD]
        [TD]{{=safe_divide(tot_crit_dmg, crit_hits, 0)}}[/TD]
        [TD]{{=percentage(tot_crit_dmg, total_damage)}} %[/TD]
        [TD][/TD]
        [TD]{{=percentage(tot_crit_dmg, tot_reg_dmg)}} %[/TD]
    [/TR]
[/TABLE]

{{if len(proc_items):}}
[TABLE="class: grid, width: 800"]
    [TR]
        [TD]Proc&#39;er: Proc Name[/TD]
        [TD]Proc Count[/TD]
        [TD]Proc/Hit Rate[/TD]
        [TD]Avg. DMG/Proc[/TD]
        [TD]Avg. DMG/Hit[/TD]
        [TD]Total DMG[/TD]
        [TD]% Total[/TD]
        [TD]% Base[/TD]
    [/TR]
    {{for item,value in proc_items.iteritems():}}
    [TR]
        [TD]{{=item}}[/TD]
        [TD]{{=commify(proc_items[item]['count'])}}[/TD]
        [TD]{{=percentage(proc_items[item]['count'], total_hits)}} %[/TD]
        [TD]{{=safe_divide(proc_items[item]['damage'], proc_items[item]['count'], 0)}}[/TD]
        [TD]{{=safe_divide(proc_items[item]['damage'], total_hits, 0)}}[/TD]
        [TD]{{=commify(proc_items[item]['damage'])}}[/TD]
        [TD]{{=percentage(proc_items[item]['damage'], total_damage)}} %[/TD]
        [TD]{{=percentage(proc_items[item]['damage'], base_damage)}} %[/TD]
    [/TR]
    {{pass}}
[/TABLE]
{{else:}}
        <p>Nothing proc'ed during this run.</p>
{{pass}}
        </pre>
    </div>

</div>


</center>

{{pass}}
