{{extend 'layout.html'}}

<script>
$(document).ready(function() {
    $.tablesorter.addParser({
        id: "Comma_number",
        is: function(s) {
            return false;
        },
        format: function(s) {
            return s.replace(/,/g,'');
        },
        type: 'numeric'
    });

    $("#totalsTable").tablesorter();

    $("#mainTable").tablesorter({
        headers: {
            1: {sorter: 'Comma_number'},
            3: {sorter: 'Comma_number'},
            4: {sorter: 'Comma_number'},
            5: {sorter: 'Comma_number'}
        }
    });

    $("#foundItemsTable").tablesorter({
        headers: {
            1: {sorter: 'Comma_number'}
        }
    });

    $("#obtainedTable").tablesorter({
		headers: {
			1: {sorter: 'Comma_number'}
		}
	});

    $("#restoredTable").tablesorter({
		headers: {
			1: {sorter: 'Comma_number'}
		}
	});

    $("#affectedTable").tablesorter({
		headers: {
			1: {sorter: 'Comma_number'}
		}
	});

    $("#createdTable").tablesorter({
		headers: {
			1: {sorter: 'Comma_number'}
		}
	});
    }
);
</script>

<script>
$(function() {
    $( "#tabs" ).tabs({collapsible: true});
	
});
</script>

{{dotd_wiki = 'http://dotd.wikia.com/wiki/Special:Search?search='}}

{{valid_data = experience['regular']}}

<center>
<table id="totalsTable" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
    <thead>
        <tr>
            <th>Total Hits</th>
            <th>Total DMG.</th>
            <th>Avg. DMG.</th>
            <th>Total Crits</th>
            <th>Crit Chance</th>
            <th>Total XP</th>
            <th>Avg. XP</th>
            <th>Gold Gained</th>
            <th>Avg. Gold</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {{hits=experience['regular']}}{{crits=experience['critical']}}{{total_hits = hits + crits}}

            <td>{{=number_format(total_hits)}}</td>
            <td>{{=number_format(experience['damage'])}}</td>

            {{avg_damage = experience['damage'] / total_hits}}

            <td>{{=number_format(avg_damage)}}</td>
            <td>{{=number_format(experience['critical'])}}</td>

            {{crit_percent = percentage(crits, hits)}}

            <td>{{=rounding(crit_percent)}}%</td>
            <td>{{=number_format(experience['exp'])}}</td>

            {{avg_exp = experience['exp'] / total_hits }}

            <td>{{=number_format(avg_exp)}}</td>
            <td>{{=number_format(experience['gold'])}}</td>

            {{avg_gold = experience['gold'] / total_hits }}

            <td>{{=number_format(avg_gold)}}</td>
        </tr>
    </tbody>
</table>

<div id="tabs">
    <ul>
        <li><a href="#mainTab">Procs</a></li>
        <li><a href="#bestHitTab">Best Hit</a></li>
        <li><a href="#foundItemsTab">Found</a></li>
        <li><a href="#obtainedItemsTab">Obtained</a></li>
        <li><a href="#restoredItemsTab">Restored</a></li>
        <li><a href="#affectedItemsTab">Affected</a></li>
        <li><a href="#createdItemsTab">Created</a></li>
        <li><a href="#rawLogTab">Raw</a></li>
        <li><a href="#bbcodeTab">BBcode</a></li>
    </ul>

    <div id="mainTab">
        <div class="table"><table id="mainTable" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Proc Count</th>
                    <th>Proc %</th>
                    <th>Avg. DMG / Proc</th>
                    <th>Avg. DMG / Hit</th>
                    <th>Total DMG</th>
                    <th>% DMG</th>
                   </tr>
            </thead>
            <tbody>
                {{for item,value in proc_items.iteritems():}}
                <tr>
                    <td>{{=item}}</a></td>
                    <td>{{=number_format(proc_items[item]['count'])}}</td>

                    {{proc_percent = percentage(proc_items[item]['count'], total_hits)}}

                    <td>{{=rounding(proc_percent)}}%</td>

                    {{avg_damage = proc_items[item]['damage'] / proc_items[item]['count']}}

                    <td>{{=number_format(avg_damage)}}</td>

                    {{avg_damage_hit = proc_items[item]['damage'] / total_hits}}

                    <td>{{=number_format(avg_damage_hit)}}</td>
                    <td>{{=number_format(proc_items[item]['damage'])}}</td>

                    {{total_percent = percentage(proc_items[item]['damage'], experience['damage'])}}

                    <td>{{=rounding(total_percent)}}%</td>
                </tr>
                {{pass}}
            </tbody>
        </table>
        </div>
    </div>

    <div id="bestHitTab" align=left>
        {{for item in max_hit:}}
        {{=item}}<br>
        {{pass}}
    </div>

    <div id="foundItemsTab" align="left">
        <div class="table"><table id="foundItemsTable" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
            <thead>
                <tr>
                    <th>Found Item Name</th>
                    <th>Count</th>
                    <th>Found/Hit %</th>
                </tr>
            </thead>
            <tbody>
                {{for key,value in found_items.iteritems():}}
                <tr>
                    <td>{{=key}}</td>
                    <td>{{=number_format(value)}}</td>
                    <td>{{drop_per = percentage(value,total_hits)}}{{=rounding(drop_per)}}%</td>
                </tr>
                {{pass}}
            </tbody>
        </table>
        </div>
    </div>

    <div id="obtainedItemsTab" align="left">
        <div class="table"><table id="obtainedTable" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
            <thead>
                <tr>
                    <th>Obtained Item Name</th>
                    <th>Count</th>
                    <th>Obtained/Hit %</th>
                </tr>
            </thead>
            <tbody>
                {{for key,value in obtained_items.iteritems():}}
                <tr>
                    <td>{{=key}}</td>
                    <td>{{=number_format(value)}}</td>
                    <td>{{drop_per = percentage(value,total_hits)}}{{=rounding(drop_per)}}%</td>
                </tr>
                {{pass}}
            </tbody>
        </table>
        </div>
    </div>

    <div id="restoredItemsTab" align="left">
        <div class="table"><table id="restoredTable" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
            <thead>
                <tr>
                    <th>Restored Item Name</th>
                    <th>Count</th>
                    <th>Restored/Hit %</th>
                </tr>
            </thead>
            <tbody>
                {{for key,value in restored_items.iteritems():}}
                <tr>
                    <td>{{=key}}</td>
                    <td>{{=number_format(value)}}</td>
                    <td>{{drop_per = percentage(value,total_hits)}}{{=rounding(drop_per)}} %</td>
                </tr>
                {{pass}}
            </tbody>
        </table>
        </div>
    </div>

    <div id="affectedItemsTab" align="left">
        <div class="table"><table id="affectedTable" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
            <thead>
                <tr>
                    <th>Affected Item Name</th>
                    <th>Count</th>
                    <th>Affected/Hit %</th>
                </tr>
            </thead>
            <tbody>
                {{for key,value in affected_items.iteritems():}}
                <tr>
                    <td>{{=key}}</td>
                    <td>{{=number_format(value)}}</td>
                    <td>{{drop_per = percentage(value,total_hits)}}{{=rounding(drop_per)}}%</td>
                </tr>
                {{pass}}
            </tbody>
        </table>
        </div>
    </div>

    <div id="createdItemsTab" align="left">
        <div class="table"><table id="createdTable" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
            <thead>
                <tr>
                    <th>Created Item Name</th>
                    <th>Count</th>
                    <th>Created/Hit %</th>
                </tr>
            </thead>
            <tbody>
                {{for key,value in created_items.iteritems():}}
                <tr>
                    <td>{{=key}}</td>
                    <td>{{=number_format(value)}}</td>
                    <td>{{drop_per = percentage(value,total_hits)}}{{=rounding(drop_per)}}%</td>
                </tr>
                {{pass}}
            </tbody>
        </table>
        </div>
    </div>

    <div id="rawLogTab" align="left">
        {{for log in log_file:}}
        {{=log}}<br>
        {{pass}}
    </div>

    <div id="bbcodeTab" align=left>
        <pre>
            [TABLE="class: grid, width: 800"]
                [tr]
                    [td]Total Hits[/td]
                    [td]Total Crits[/td]
                [/tr]

                [tr]{{hits=experience['regular']}}{{crits=experience['critical']}}{{total_hits = hits + crits}}
                    [td]{{=number_format(total_hits)}}[/td]
                    [td]{{=number_format(experience['critical'])}}[/td]
                [/tr]
            [/table]
            [TABLE="class: grid, width: 800"]
                [tr]
                    [td]Item[/td]
                    [td]Proc Count[/td]
                    [td]Proc %[/td]
                [/tr]

                {{for item,value in proc_items.iteritems():}}
                [tr]
                    [td]{{=item}}[/td]
                    [td]{{=number_format(proc_items[item]['count'])}}[/td]
                    {{proc_percent = percentage(proc_items[item]['count'], total_hits)}}[td]{{=rounding(proc_percent)}}%[/td]
                [/tr]
                {{pass}}
            [/table]
        </pre>
    </div>

</div>

</center>
