# for web2py
cache
cron
databases
errors
sessions
private
uploads
# 
utils/get_base_data_sets/armor/
utils/get_base_data_sets/facebook/
utils/get_base_data_sets/kongregate/
utils/get_base_data_sets/newgrounds/
#
.idea/
